.interactiveChart {
  margin: auto;
  max-width: 1000px;
  overflow-x: scroll;
}

.chartContainer {
  position: relative;
  height: 32vh;
  width: 5000px;
}

.chartTitle {
  position: fixed;
  font-size: 20px;
  gap: 0.5rem;
  text-align: center;
}

.tide {
  color: navy;
}

.sun {
  color: orangered;
}
