.chartCard {
  max-width: 1000px;
  margin: auto;
  position: relative;
  overflow-x: scroll;

  .chartContainer {
    width: 8000px;
    height: 280px;
  }
}

.chartText {
  position: absolute;
  bottom: 100%;
  z-index: 100;

  .chartTitle {
    position: fixed;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    gap: 0.5rem;
    text-align: center;

    .tide {
      color: navy;
    }

    .sun {
      color: orangered;
    }
  }

  .barDate {
    position: fixed;
    margin-top: 40px;
    left: calc(48% - 5px);
    text-align: center;
  }

  .sunIcon {
    position: fixed;
    margin-top: 60px;
    left: calc(49% + 2px);
    color: orange;
  }

  .verticalBar {
    position: fixed;
    width: 2px;
    background-image: linear-gradient(#000, #bbbfc3);
    height: 190px;
    margin-top: 85px;
    left: calc(50%);
  }
}
